# rootfs
type op1_file, file_type;
type op2_file, file_type;

# sysfs
type sysfs_oem, sysfs_type, fs_type;
type sysfs_ssr, sysfs_type, fs_type;
type sysfs_ssr_toggle,  sysfs_type, fs_type;
